<!-- Thsi is the Log-in Page -->
<app-loader *ngIf="isLoading"></app-loader>
<div class="logInContainer">
  <div class="centerBox">
    <div class="logo">
      <img class="logoImage" src="../../assets/logo.PNG">
    </div>
    <form class="pd-12" [formGroup]="loginForm">
      <div *ngIf="!isLoginMode">
        <div class="form-group">
          <label for="Name">Name*</label>
          <input class="form-control" type="text" matInput placeholder="John" formControlName="name" />
          <div class="warning" *ngIf="!loginForm.get('name').valid && loginForm.get('name').touched">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="picUrl">Displaypic URL</label>
          <input class="form-control" type="text" matInput placeholder="URL" formControlName="picUrl" />
        </div>


        <div class="form-group">
          <label for="InputEmail1">About You</label>
          <input class="form-control" type="email" matInput placeholder="About you" formControlName="aboutYou" />

        </div>
      </div>
      <div class="form-group">
        <label for="InputEmail1">Email address</label>
        <input class="form-control" type="email" matInput placeholder="abc@gmail.com" formControlName="email" />
        <div class="warning" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
          Please enter a valid email address
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input class="form-control" type="password" placeholder="********" formControlName="password" />
        <div class="warning" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          Password Required
        </div>
      </div>
      <div class="options">
        <button (click)="onSubmit(false)" *ngIf="isLoginMode" [disabled]="!loginForm.controls['email'].valid || !loginForm.controls['password'].valid" type="submit"
          class="btn btn-primary">Log in</button>
        <span (click)="switchMode()" *ngIf="isLoginMode"> New User ? Signup</span>


        <button (click)="onSubmit(true)" *ngIf="!isLoginMode" [disabled]="!loginForm.valid" type="submit"
          class="btn btn-primary">Sign up</button>
        <span (click)="switchMode()" *ngIf="!isLoginMode"> Already a user ? Login</span>
      </div>

    </form>

    <div (click)="backtoFeeds()" class="backToFeedsBtn">
      <span> Back to Feeds --></span>
    </div>
  </div>

</div>
<br><br><br>