

.logInContainer {
    
    display: flex;
    justify-content: center;
}

.centerBox {

    position: absolute;
    top: calc( 50% - 150px);
    width: 35%;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 2px 6px whitesmoke;
}

 .logoImage {
    border-bottom-right-radius: 12px;
    margin-bottom: 2px;
    width: 60%;
    border-top-left-radius: 12px;

}

.centerBox .logo {
    width: 100%;
    background: whitesmoke;
    padding: 8px;
}

.pd-12 {
    padding: 12px;
}

.warning {
    color: red;
}

.options {
    display: flex;
    align-items: flex-end;
}
.options span {
    flex: 1;
    text-align: right;
    color: royalblue;
}

.options span:hover {
    text-decoration : underline;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .centerBox {
        width: 60%;
    }
  }

  @media only screen and (max-width: 425px) {
    .centerBox {
        width: 90%;
    }
  }



